# Public Environment Variables
NEXT_PUBLIC_CURRENCY=₹
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_key_here

# Private Environment Variables
CLERK_SECRET_KEY=sk_test_your_key_here
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database
INNGEST_SIGNING_KEY=signkey-your-key-here
INNGEST_EVENT_KEY=your-event-key-here

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_URL=cloudinary://your-key:your-secret@your-cloud

# NodeMailer
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_PORT=465
SMTP_HOST=smtp.gmail.com

# Company Details
COMPANY_NAME=Your_Company_Name
COMPANY_EMAIL=company@example.com
COMPANY_PHONE=1234567890
COMPANY_ADDRESS=Your Address Here
NEXTAUTH_URL=https://yourdomain.com

NEXT_PUBLIC_BASE_URL=https://yourdomain.com

GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXTAUTH_SECRET=your-nextauth-secret-here
NEXTAUTH_URL=http://localhost:3000
